# STEPSS scenario: WAMCES Continental European model, full plant, 1000 MW step at ES2178.
# Open it with File > Load configuration in the STEPSS GUI.
# Paths are relative to this file's own directory, so the folder can be
# moved or copied whole. license.dat holds the $LICENSE record, needed above
# 1000 buses; it is git-ignored and must be created beside this file.

stepss.format = 1

# System data
data.1 = wamces_lf.dat
data.2 = wamces_lfres.dat
data.3 = wamces_dyn.dat
data.4 = wamces_dist.dat
data.5 = wamces_settings.dat
data.6 = license.dat
disturbance = wamces_step.dst

# Observables
observables.file = wamces_obs.dat
runtime.1.type = Machine Speed
runtime.1.name = G2178
runtime.2.type = Machine Speed
runtime.2.name = G3264

# Recording
record.trajectory = true
record.continuous = false
record.discrete = false
record.init = true
